<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoUITest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BEAE54E02ABC3D1B00D5B2C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEAE54F32ABC3D1C00D5B2C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEAE54FD2ABC3D1C00D5B2C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
